body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.expButton{
  width : 100px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.relativeKey{
  color: #00FF00;
}

.keywordInput{
  width: 200px;
}

.keyButton{
  height: 35px;

}

.sigmaCanvas{
  top:100px;
  left:10px;
  position:absolute;
  width:500px;
  height:600px;
}

.resultWindow{
  top:40px;
  left:520px;
  position:absolute;
  width:700px;
  height:350px;
  display: block;  
  overflow: auto;
}
.siteWindow{
  top:420px;
  left:520px;
  position:absolute;
  width:700px;
  height:300px;
  display: block;  
  overflow: auto;
}

em{
  background-color: yellow;
}

a{
  color: blue !important;
  background-color: white;
}

.resultItem{
  padding: 2px;
  margin: 2px;
  border: solid #FFFFFF 1px;
}
.siteItem{
  padding: 0px;
  margin: 0px;
  border: solid #FFFFFF 1px;
}
.resultCount{
  top:20px;
  left:523px;
  position:absolute;
  width:500px;
  height:40px;
  color: #FFFFFF
}
.siteCount{
  top:400px;
  left:523px;
  position:absolute;
  width:500px;
  height:40px;
  color: #FFFFFF
}

.hostItem{
  margin: 2px;
  height: 60px;
  width: 380px;
  border: 1px white solid;
}

.hostName{
  margin: 2px;
  display: block;
  float: top;
  width: 200px;
  font-weight: bold;
}

.hostIP{
  margin: 2px;
  display: block;
  float: left;
  width: 120px;
}

.hostStatus{
  margin: 2px;
  display: block;
  float: left;
  width: 100px;
}

.hostButton{
  margin: 2px;
  display: block;
  float: left;
  width: 70px;
  border: 2px solid blue;
  text-align: center;
}

.crawlstats{
  float: right;
  padding: 3px;
  border: 1px solid green;
  height: 250px;
  width: 270px;
}

.domains{
  padding: 3px;
  float: left;
  overflow: auto;
  border: 1px solid white;
  height: 250px;
  width: 320px;
}

.crawlstat{
  margin-left: 5px;
  display: block;
  float: top;
  font-size: 10pt;
  height: 16px;
  line-height: 16px;
  vertical-align: center;
}

.domainspan{
  margin-left: 5px;
  display: block;
  font-size: 10pt;
  height: 16px;
  width: 200px;
  line-height: 16px;
  vertical-align: center;
}

.hostButton:hover{cursor:pointer}

.domainspan:hover{
  cursor:pointer;
  color: blue;
}

.editDomain{
  padding: 5px;
  float: left;
  width: 400px;
  height: 40px;
  line-height: 40px;
  vertical-align: center;
  font-size: 10pt;
}

.editTopN{
  padding: 5px;
  float: left;
  width: 50px;
  height: 40px;
  line-height: 40px;
  vertical-align: center;
  font-size: 10pt;
}
.editTopNLabel{
  padding: 5px;
  float: left;
  width: 80px;
  height: 40px;
  line-height: 25px;
  vertical-align: center;
  font-size: 10pt;
}

.applyDomain{
  float: left;
  height: 35px;
  line-height: 35px;
  vertical-align: center;
}
.modifyDomain{
  float: left;
  width: 80px;
  height: 35px;
  line-height: 35px;
  vertical-align: center;
}

.hostlist{
  top:3px;
  position:absolute;
  width:400px;
  height:500px;
  display: block;  
  overflow: auto;
  border: 0px;
}

.hostview{
  top:5px;
  left:1650px;
  position:absolute;
  width:600px;
  height:500px;
  display: block;  
  overflow: auto;
  border: 1px solid yellow;
}

.progress{
  padding: 5px;
  float: left;
  width: 500px;
  height: 100px;
  vertical-align: center;
}
.progressItem{
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  float: left;
  width: 70px;
  vertical-align: center;
}

.divcompare{
  float: left;
  width: 300px;
}

.divbefore{
  float: top;
}

.divafter{
  float: top;
}

.switchBtn{
  top:5px;
  left:1025px;
  position:absolute;
  display: block;  
  border: 1px solid yellow;
}

.switchBtnAlt{
  top:5px;
  left:2250px;
  position:absolute;
  display: block;  
  border: 1px solid yellow;
}